<div class="flex-column">
	<div class="card my-2 mx-1" style="width: 18rem;">
		<img src="@Image" class="card-img-top" alt="@Title">
		<div class="card-body">
			<h5 class="card-title">@Title</h5>
			<p class="card-text">@Content</p>
			@* wywołanie funkcji *@
			<button @onclick="ClickMore" class="btn btn-primary">@BtnText</button>
			@* wywołanie funkcji z parametrem *@
			<button @onclick="ClickMoreString" class="btn btn-primary">@BtnText</button>
			@* jeżeli logika komponentu niczego nie robi w wywoływanej metodzie, to można pominąć tworzenie metody i przypisać tu bezpośrednio właściwość typu EventCallback*@
			<button @onclick="JustParameterWithoutMethod" class="btn btn-primary">@BtnText</button>
		</div>
	</div>

	@* parametr kaskadowy *@
	@* 	<CascadingValue Value="@_info">
	<AdditionalInfo />
	</CascadingValue> *@

	<AdditionalInfo />
</div>