@* routing - strona_główna/counter *@
@page "/counter"

@* 
	routing - wiele ścieżek do 1 strony:
	@page "/counter"
	@page "/counter-test" 
*@

@* 
	Przekazanie parametru do strony poprzez ścieżkę:
	header - nazwa parametru, żeby go użyć trzeba w code-behind dodać nową właściwość o takiej nazwie z atrybutem [Parameter]
	Jeżeli parametr ma być opcjonalny, to po nazwie trzeba dodać znak zapytania.
	Jeżeli nie zostanie wskazany typ parametru, to domyślnie jest to string.
	Żeby wskazać typ parametru trzeba po nazwie parametru dopisać ":int" dla inta itp.
	Parametrów może byc wiele, oddziela się je ukośnikami.
	*@
@page "/counter-par/{header:int}/{isDeleted:bool?}"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

@* Odczytanie parametru podanego do strony poprzez ścieżkę: *@
<h2>Wartość parametru przekazanego poprzez ścieżkę: @Header</h2>
<h2>Druga wartość parametru przekazanego poprzez ścieżkę:</h2>
@if (!IsDeleted.HasValue)
{
	<p>NULL</p>
}
else if (IsDeleted.GetValueOrDefault())
{
	<p>TRUE</p>
}
else
{
	<p>FALSE</p>
}

<h2>Wartość parametru przekazanego poprzez ścieżkę z podaniem nazwy właściwości: @Header2</h2>

<p role="status">Current count: @_currentCount</p>

@* Powiązanie zdarzenia onclick z metodą stworzoną w C# *@
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<br />

<button class="btn btn-primary my-3" @onclick="ToggleActive">
	Przełącz tryb
</button>
@if (_isActive)
{
	<p class="text-light bg-success p-2">AKTYWNY</p>
}
else
{
	<p class="text-light bg-danger p-2">NIEAKTYWNY</p>
}
<p class="text-light bg-info p-2">Ten produkt jest: @(_isActive ? "AKTYWNY" : "NIEAKTYWNY") </p>
<p class="text-light @(_isActive ? "bg-success" : "bg-danger") p-2">Ten produkt jest: @(_isActive ? "AKTYWNY" : "NIEAKTYWNY") </p>

<hr />

@* Użycie komponentu bez użycia Globa Using *@
<BlazorWebAssembly.Components.Common.Table></BlazorWebAssembly.Components.Common.Table>
@* Użycie komponentu używając using *@
<Table></Table>

<hr />

@* Navigation Manager - przemieszczanie się w kodzie między stronami *@
<button class="btn btn-primary my-3" @onclick="GoToIndex">Strona główna</button>
<button class="btn btn-primary my-3" @onclick="GoToSiteWithParameters">Przekaż parametry</button>

@* Sekcja @code przeniesiona do pliku code-behind: Counter.razor.cs *@