@page "/components"

<h3>Komponenty</h3>

<h3>komponent z parametrami</h3>
@* <Card Image="files/kowalski.png"
	  Title="Jak Kowalski"
	  BtnText="Więcej"
	  Content="Programista C#/.NET z 20 letnim doświadczeniem. Specjalizacje: Blazor i ASP.NET Core" /> *@
<h3>Szablon HTML jako parametr przekazywany do komponentu</h3>
<Card Image="files/kowalski.png"
	  BtnText="Więcej">
	<Title>
		<b>Jan Kowalski</b>
	</Title>
	<Content>
		<u>Programista C#/.NET</u> z 20 letnim doświadczeniem.
		<br />
		<u>Specjalizacje:</u>
		<ul>
			<li>Blazor</li>
			<li>ASP.NET Core</li>
		</ul>
	</Content>
</Card>

<h3>komponent z parametrami w pętli</h3>
<div class="d-flex gap-2">
	@foreach (var item in _authors)
	{
		<Card Image="@item.Image"
			  BtnText="@item.BtnText">
			<Title>
				@item.Title
			</Title>
			<Title>
				@item.Content
			</Title>
		</Card>
	}
</div>

<button class="btn btn-danger" @onclick="ChangeBtnText">
	Zmień tekst przycisku
</button>

<h3>komponent z argumentem kaskadowym - przekazana wartość z elementu nadrzędnego</h3>
<CascadingValue Value="@_info">
	<Card Image="files/kowalski.png"
		  BtnText="@_btnText">
		<Title>
			<b>Jan Kowalski</b>
		</Title>
		<Content>
			<u>Programista C#/.NET</u> z 20 letnim doświadczeniem.
			<br />
			<u>Specjalizacje:</u>
			<ul>
				<li>Blazor</li>
				<li>ASP.NET Core</li>
			</ul>
		</Content>
	</Card>
</CascadingValue>

<h3>komponent z wieloma argumentami kaskadowymi - przekazana wartość z elementu nadrzędnego</h3>
<CascadingValue Name="Title" Value="@_title">
	<CascadingValue Name="Info" Value="@_info">
		<Card Image="files/kowalski.png"
			  BtnText="Więcej">
			<Title>
				<b>Jan Kowalski</b>
			</Title>
			<Content>
				<u>Programista C#/.NET</u> z 20 letnim doświadczeniem.
				<br />
				<u>Specjalizacje:</u>
				<ul>
					<li>Blazor</li>
					<li>ASP.NET Core</li>
				</ul>
			</Content>
		</Card>
	</CascadingValue>
</CascadingValue>

<h3>zdarzenia w komponentach - wywołanie metody</h3>
<CascadingValue Name="Title" Value="@_title">
	<CascadingValue Name="Info" Value="@_info">
		<Card Image="files/kowalski.png"
			  BtnText="Więcej"
			  OnClickMore="MyClickMore">
			<Title>
				<b>Jan Kowalski</b>
			</Title>
			<Content>
				<u>Programista C#/.NET</u> z 20 letnim doświadczeniem.
				<br />
				<u>Specjalizacje:</u>
				<ul>
					<li>Blazor</li>
					<li>ASP.NET Core</li>
				</ul>
			</Content>
		</Card>
	</CascadingValue>
</CascadingValue>

<h3>zdarzenia w komponentach - wywołanie metody z parametrem</h3>
<CascadingValue Name="Title" Value="@_title">
	<CascadingValue Name="Info" Value="@_info">
		<Card Image="files/kowalski.png"
			  BtnText="Więcej"
			  BtnClass="btn btn-danger"
			  BtnTitle="BtnTitle"
			  @attributes="_cardAttributes"
			  OnClickMoreString="MyClickMoreString">
			<Title>
				<b>Jan Kowalski</b>
			</Title>
			<Content>
				<u>Programista C#/.NET</u> z 20 letnim doświadczeniem.
				<br />
				<u>Specjalizacje:</u>
				<ul>
					<li>Blazor</li>
					<li>ASP.NET Core</li>
				</ul>
			</Content>
		</Card>
	</CascadingValue>
</CascadingValue>

<CascadingValue Name="Title" Value="@_title">
	<CascadingValue Name="Info" Value="@_info">
		<Card Image="files/kowalski.png"
			  BtnText="Więcej"
			  BtnClass="btn btn-danger"
			  BtnTitle="BtnTitle"
			  BtnAttributes="_cardBtnAttributes"
			  OnClickMoreString="MyClickMoreString">
			<Title>
				<b>Jan Kowalski</b>
			</Title>
			<Content>
				<u>Programista C#/.NET</u> z 20 letnim doświadczeniem.
				<br />
				<u>Specjalizacje:</u>
				<ul>
					<li>Blazor</li>
					<li>ASP.NET Core</li>
				</ul>
			</Content>
		</Card>
	</CascadingValue>
</CascadingValue>