@page "/components"

<h3>Komponenty</h3>

@* komponent z parametrami *@
<Card Image="files/kowalski.png"
	  Title="Jak Kowalski"
	  BtnText="Więcej"
	  Content="Programista C#/.NET z 20 letnim doświadczeniem. Specjalizacje: Blazor i ASP.NET Core" />

@* komponent z parametrami w pętli *@
<div class="d-flex gap-2">
	@foreach (var item in _authors)
	{
		<Card Image="@item.Image"
			  Title="@item.Title"
			  BtnText="@item.BtnText"
			  Content="@item.Content" />
	}
</div>

@* komponent z argumentem kaskadowym - przekazana wartość z elementu nadrzędnego *@
<CascadingValue Value="@_info">
	<Card Image="files/kowalski.png"
		  Title="Jak Kowalski"
		  BtnText="Więcej"
		  Content="Programista C#/.NET z 20 letnim doświadczeniem. Specjalizacje: Blazor i ASP.NET Core" />
</CascadingValue>

@* komponent z wieloma argumentami kaskadowymi - przekazana wartość z elementu nadrzędnego *@
<CascadingValue Name="Title" Value="@_title">
	<CascadingValue Name="Info" Value="@_info">
		<Card Image="files/kowalski.png"
			  Title="Jak Kowalski"
			  BtnText="Więcej"
			  Content="Programista C#/.NET z 20 letnim doświadczeniem. Specjalizacje: Blazor i ASP.NET Core" />
	</CascadingValue>
</CascadingValue>
